/*表格標題、子分類文字*/

.title,.category{
    font-weight: 800;
    font-size: 1.1em;
    text-align: center;
}

/*表格顏色*/

.title{
    background-color: rgba(100, 239, 127, 0.85);
}

.category{
    background-color: rgba(127, 255, 212, 0.69);
}

.c1, .c3{
    background-color: rgba(89, 216, 138, 0.61);
}

.c2, .c4{
    background-color: rgba(204, 255, 222, 0.72);
} 

/*例題底色*/

.exercise{
    background-color: #000000;
    color: #FFFFFF;
    width: 3em;    
}